#applications {
    background-color: rgb(207, 200, 190);
    height: 85vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

table, th, td {
    border:1px solid black;
  }

  table th {
    background-color: rgb(236, 70, 70);
    height: 40px;
    justify-content: center;
    font-size: xx-large;
  }

  table td {
    height: 20px;
    width: 10px;
    background-color: rgb(183, 195, 206);
    text-align: center;
  }

  #offerCard{
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100px;
    margin: 20px;
  }

  